
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body
{
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    min-height: 100vh;
    gap: 36px;
}
#header{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    width: fit-content;
   margin: auto;
   
    gap: 32px;
    

}
.side{
    display: flex;
    justify-content: space-between;
    
}
a{
    font-size: 18px;
    color: #E5E7EB;
    margin: 6px;
    text-decoration: none;
}
.uppermid{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    color: #1F2937;
    flex-grow: 1;
}
figure{
    display: flex;
    justify-content: center;
    align-items: center
}
.awesome{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

}
#logo{
    font-size: 24px;
    color: #F9FAF8;
}
.subtext{
    font-size: 18px ;
    color: #E5E7EB;
}
button{
    background-color: #3882F6;
    max-height: fit-content;
    border-radius: 6px;
    color: aliceblue;
    border: none;
    font-size: 21px;
    padding: 0.25em;
    padding-inline: 0.8em;
    max-width: fit-content;
}
.sideby{
    display: flex;
    margin: auto;
    max-width: 1000px;
    gap: 50px;
    
}
.image{
    display: flex;
    height: fit-content;
    background-color:gray;
}
.inndertext{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
}
.middle{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
.lowermid{
    display: flex;
    flex-grow: 1;
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 4em;

}
.quote{
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
   margin: auto;
   font-size: 36px;
   font-weight: 300;
   font-style: italic;
}
.container{
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 32px;
    padding: 2em;
}
.imgtext{
    max-width: 150px;
    text-align: center;
}
.smaller{
    border-color: #3882F6;
    border-style: solid;
    border-radius: 12px;
}
.almostend{
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    padding: auto;
    margin: auto;

}
.name{
    text-align: end;
    font-weight: 900;
}